PORT=5000
DATABASE_URL="postgresql://postgres:password@localhost:5432/languageguru_db?schema=public"
JWT_SECRET="languageguru_secret_key_2026_super_secure_jwt"
FRONTEND_URL="http://localhost:3000"
ADMIN_URL="http://localhost:3001"
NODE_ENV="development"
